:80 {
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
        -Server
    }

    handle /prefect/* {
        uri strip_prefix /prefect
        reverse_proxy prefect-server:4200
    }

    handle {
        reverse_proxy api:8000
    }
}
